<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easyhelp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".OtherActivities.OneTimeOnlyActivity"></activity>
        <activity android:name=".OtherActivities.FacebookCopyLinkUrlActivity" />
        <activity
            android:name=".OtherActivities.ChangePasswordActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".OtherActivities.ConstructionActivity" />
        <activity
            android:name=".OtherActivities.WelcomeSpeech"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OtherActivities.LoginActivity"
            android:parentActivityName=".OtherActivities.GoToLoginRegisterActivity" />
        <activity
            android:name=".OtherActivities.BeforeRegistrationActivity"
            android:parentActivityName=".OtherActivities.GoToLoginRegisterActivity" />
        <activity
            android:name=".OtherActivities.RegistrationActivity"
            android:parentActivityName=".OtherActivities.BeforeRegistrationActivity" />
        <activity android:name=".OtherActivities.GoToLoginRegisterActivity" />
        <activity android:name=".OtherActivities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OtherActivities.NewsClickedActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OtherActivities.DonationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OtherActivities.HelpActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OtherActivities.WalletActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OtherActivities.ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>