<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easyhelp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".OtherActivities.ErrorActivity"></activity>
        <activity android:name=".RegistrationAndLogin.Login.Activity.LoadingActivity" />
        <activity android:name=".RegistrationAndLogin.Registration.Activity.ThanaActivity" />
        <activity android:name=".RegistrationAndLogin.Registration.Activity.DistrictActivity" />
        <activity android:name=".RegistrationAndLogin.Registration.Activity.DivisionActivity" />
        <activity android:name=".RegistrationAndLogin.Registration.Activity.CountryActivity" />
        <activity android:name=".RegistrationAndLogin.Registration.Activity.BeforeRegistrationUserCheckActivity" />
        <activity android:name=".Bloods.Activity.BloodReportOwnActivity" />
        <activity android:name=".Bloods.Activity.BloodRequestActivity" />
        <activity android:name=".OtherActivities.ForgetPasswordActivity" />
        <activity android:name=".OtherActivities.OneTimeOnlyActivity" />
        <activity android:name=".Facebook.Activity.FacebookCopyLinkUrlActivity" />
        <activity
            android:name=".ChangePassword.Activity.ChangePasswordActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Construction.Activity.ConstructionActivity" />
        <activity
            android:name=".WelcomeSpeech.WelcomeSpeech"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".RegistrationAndLogin.Login.Activity.LoginActivity" />
        <activity
            android:name=".RegistrationAndLogin.Registration.Activity.BeforeRegistrationActivity"
            android:parentActivityName=".RegistrationAndLogin.Registration.Activity.GoToLoginRegisterActivity" />
        <activity android:name=".RegistrationAndLogin.Registration.Activity.RegistrationActivity" />
        <activity android:name=".RegistrationAndLogin.Registration.Activity.GoToLoginRegisterActivity" />
        <activity android:name=".OtherActivities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsThings.NewsClickedActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OtherActivities.DonationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OtherActivities.HelpActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OtherActivities.WalletActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Profile.Activity.ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>